<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Diamond_square.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Diamond_square.Properties.Settings>
            <setting name="MaxDepth" serializeAs="String">
                <value>-11034</value>
            </setting>
            <setting name="MinOceanDepth" serializeAs="String">
                <value>-500</value>
            </setting>
            <setting name="MinMountainHeight" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="SnowLineHeight" serializeAs="String">
                <value>4675</value>
            </setting>
            <setting name="MaxHeight" serializeAs="String">
                <value>8848</value>
            </setting>
        </Diamond_square.Properties.Settings>
    </userSettings>
</configuration>